@import '~@angular/material/theming';

@mixin component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $is-dark: map-get($theme, is-dark);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  v-mat-btstrp-root {
    >div {
      background-color: mat-color($background, status-bar);

      >h2 {
        color: mat-color($primary, 700);
      }
    }
  }
}
